/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

html,body {
    margin:0;
    padding:0;
    }

body {
    font-family: 'Open Sans', sans-serif;
    background-color:rgb(255, 255, 255)
}

h1 {
    margin-top: 0;
    padding-top: .5em;
    text-align: center;
    font-size: 3em;
}

h2 {
    text-align: center;
    font-size: 1.75em;
    text-transform: uppercase;
}

p {
	font-size: .95em;
    margin-bottom: 1.8em;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

img {
    width: 100%;
    max-width: 350px;
    display: block;
    margin: 0 auto;
}


/* ================================= 
  Base Layout Styles
==================================== */

header {
    background-color: lightgray;
    margin: 0 auto;
}

.skill h3 {
    font-size: 1.2em;
    margin-top: 15px;
    text-align: center;
    margin-bottom: .5em;
}

.about-me {
    padding-bottom: 1em;
}

.about-me p,
.skill p {
    font-size: 1.2em;
    margin-bottom: 3em;
    text-align: center;
    width: 90%;
    margin-left:auto;
    margin-right: auto;
}

.contact p {
    padding-bottom: 30px;
    margin-bottom: 0;
    /* border-bottom: 2px solid darkgrey; */
}

.contact {
    padding-top: 1em;
}

.contact,
footer {
    background-color: lightgray;
}

footer p {
    display: inline-block;
    text-transform: uppercase;
    margin: 3em 1em 2em 1em;
    padding: 1em;
}

/* ---- Navigation ---- */

ul {
    padding-left: 0;
}

.main-nav a {
    font-size: .95em;
    text-transform: uppercase;
    margin-top: 10px;
    display: block;
    text-align: center;
    padding: 1em;
    background-color: rgb(217,249,255)
}

.main-nav a:hover {
    background-color: rgba(217,249,255, 0.5)
}

.main-nav li {
    list-style: none;
}

/* ---- Layout Containers ---- */

.container {
    width: 100%;
}


/* ---- Page Elements ---- */

.profile-pic {
    border: black solid 4px;
}

.logo {
	width: 190px;   
}

.headline {
	margin-bottom: 0;
}


/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {





	/* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}

}

@media (min-width: 1025px) {
	
	/* ---- Float clearfix ---- */



	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}

}