/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {

}

p {
	font-size: .95em;
	margin-bottom: 1.8em;
}

h4 {
	margin-bottom: .4em;
}

a {
	text-decoration: none;
}

img {
	max-width: ;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */


.main-nav {
	margin-top: 5px;
}


/* ---- Layout Containers ---- */



/* ---- Page Elements ---- */

.logo {
	width: 190px;   
}

.headline {
	margin-bottom: 0;
}


/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {




    
	/* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}

}

@media (min-width: 1025px) {
	
	/* ---- Float clearfix ---- */



	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}

}