/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

html,body {
    margin:0;
    padding:0;
    }

body {
    font-family: 'Open Sans', sans-serif;
    background-color:rgb(255, 255, 255)
}

h1 {
    margin-top: 0;
    padding-top: .5em;
    text-align: center;
    font-size: 3em;
    color: darkblue;
}

h2 {
    text-align: center;
    font-size: 1.75em;
    text-transform: uppercase;
    color: darkblue;
}

p {
	font-size: .95em;
    margin-bottom: 1.8em;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

img {
    width: 100%;
    max-width: 350px;
    display: block;
    margin: 0 auto;
}


/* ================================= 
  Base Layout Styles
==================================== */

header {
    background-color: lightgray;
    margin: 0 auto;
}

.skill {
    width: 90%;
    margin: 0 auto;
}

.skill h3 {
    font-size: 1.2em;
    margin-top: 15px;
    text-align: center;
    margin-bottom: .5em;
}

.about-me {
    padding-bottom: 1em;
}

.about-me p,
.skill p {
    font-size: 1.2em;
    margin-bottom: 3em;
    text-align: center;
    width: 90%;
    margin-left:auto;
    margin-right: auto;
}

.contact p, 
.education p {
    font-size: 1.2em;
    padding-bottom: 30px;
    margin: 0 auto;
    width: 90%;
    /* border-bottom: 2px solid darkgrey; */
}

.education {
    background-color: #EDEDED;
}

#portfolio,
#contact, 
#education {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 0;
}

.contact,
footer {
    background-color: lightgray;
}

footer p {
    display: inline-block;
    text-transform: uppercase;
    margin: 1em 1em 2em 1em;
    padding: 1em;
    font-size: 15px;
}

/* ---- Navigation ---- */

ul {
    padding-left: 0;
}

.main-nav a, 
.footer-nav a{
    font-size: 1.25em;
    text-transform: uppercase;
    margin-top: 7px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    padding: .6em;
    background-color: rgb(217,249,255);
}

.main-nav a:hover {
    background-color: rgba(217,249,255, 0.5);
    color: rgba(0,0,0,.6)
}

.main-nav li,
.footer-nav li {
    list-style: none;
}

.footer-nav {
    display: none;
}

/* ---- Layout Containers ---- */

.container {
    width: 100%;
}


/* ---- Page Elements ---- */


.profile-pic {
    margin-top: 70px;
}

.logo {
	width: 190px;   
}

.headline {
	margin-bottom: 0;
}


/* ================================= 
  Media Queries
==================================== */

@media (min-width: 768px) {

    header {
        text-align: center;
    }

    .profile-pic {
        margin-right: 30px;
        margin-left: 20px;
        width: 30%;
        margin-top: 0;
        float: right;
    }

    .about-me {
        background-color: lightgray;
        margin: 0 auto;
        padding-bottom: 100px;
    }

    .about-me p {
        text-align: left;
    }


    /* ---- Navigation ---- */
    
    .name, 
    .main-nav li {
        display: inline-block;
    }

    .main-nav a{
        padding: 10px;
        background-color: lightgrey;
    } 
    
    footer{
        border-top: rgba(0, 0, 0, 0.5) 1px solid;
        content: "";
        display: table;
        clear: both;
        margin: 0px;
        width: 100%;
    }

    .footer-nav {
        display: block;
        float: right;
        margin-right: 20px;
    }

    .footer-nav li{
        float: left;
    }

    .footer-nav a {
        float: right;
        background-color: lightgrey;
    }

    .container,
    .education {
        clear: both;
    }

    /* ---- Page Elements ---- */

    .top-button {
        display: none;
    }

    .zach {
        float: left;
        font-size: 20px;
    }

    /* ---- Layout Containers ---- */

    .container {
        background-color: white;
    }
    .skill {
        display: block;
        width: 50%;
        float: left;
        margin: 0 auto;
    }

    /* .wrap {
        max-height:calc(100vh - 123.359px);
    } */

	/* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}

}

@media (min-width: 1024px) {

    .container {
        max-width: 1150px;
        margin: 0 auto;
    }

    .name {
        text-align: left;
        margin-left: 20px;
        float: left;
    }

    .skill {
        display: block;
        width: 33%;
        float: left;
        margin: 0 auto;
        padding-left: 5px;
        padding-right: 5px;
    }

    /* ---- Navigation ---- */

    .main-nav,
    .name, 
    .main-nav li {
        display: inline-block;
    }


    .main-nav {
    float: right;
    margin-right: 30px;
    }

    .main-nav li {
        float: left;
    }

    /* ---- Page Elements ---- */

    .about-me {
        clear: both;
        padding-top: 50px;
    }

	/* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}

}